* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.main_mother_container {
  display: block;
  width: 100%;
  height: 1672px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.main_nav_container1{
background-color: white;
height: 175px;
width: 100%;
}
.logo_box {
  width: 109px;
  height: 112px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 129px;
  border-radius: 50%;
}
.logo_title_derion {
  width: 168px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 64px;
  left: 240px;
  font-family: Rubik One;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.logo_derion {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 130px;
  font-family: Rockwell;
  font-weight: Bold;
  font-size: 123px;
  opacity: 1;
  text-align: center;
}
.nav_home {
  width: 58px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 780px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.nav_signin{
  width: 81px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 95px;
  left: 858px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  cursor: pointer;

}
.nav_signup {
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 95px;
  left: 940px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.nav_aboutUs {
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 845px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.nav_siteMap {
  width: 98px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 952px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.nav_contactUs {
  width: 133px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 1050px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.nav_logOut{
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 99px;
  left: 900px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;

}
.main_container2 {
  margin-top: 50px;
  width: 50%;
  height: 300px;
  background: url("../images/ourstory.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  justify-content: center;
}

.main_container3{
  margin-top: 50px;
  width: 50%;
  height: 300px;
  background: white;
  opacity: 1;
  justify-content: center;
  
 
 
}
.main_article_title1 {
  
  color:  rgba(53,49,242,1);;
  font-family: Roboto;
  font-weight: Bolder;
  font-size: 30px;
  opacity: 1;
  
}
.main_article1 {

  width: 85%;
  color:  rgba(53,49,242,1);;
  font-family: Roboto;
  font-size: 14px;
  opacity: 1;
}


.main_container4 {
  margin-top: 40px;
  width: 50%;
  height: 300px;
  background:white;
  opacity: 2;
  overflow: hidden;
  text-align: center;
}


.main_container5 {
  
  margin-top: 40px;
  width: 50%;
  height: 300px;
  background: url("../images/mission.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  justify-self: left;

 
}

.main_article_title2 {
  position: relative;
  color:  rgba(53,49,242,1);;
  font-family: Roboto;
  font-weight: Bolder;
  font-size: 30px;
  opacity: 1;
  top: 30px;
  justify-content: center;
}
.main_article2 {
  position: relative;
  width: 85%;
  color: rgba(53,49,242,1);;
  font-family: Roboto;
  font-size: 14px;
  opacity: 1;  
}
.main_container6 {
  margin-top: 40px;
  width: 50%;
  height: 300px;
  background: url("../images/vision.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  justify-content: center;
}

.main_container7{
  margin-top: 40px;
  width: 50%;
  height: 300px;
  background: white;
  opacity: 1;
  overflow: hidden;
  text-align: center;
 
}
.main_article_title3 {
  position: relative;
  color: rgba(53,49,242,1);
  font-family: Roboto;
  font-weight: Bolder;
  font-size: 30px;
  opacity: 1;
  top: 30px;
  justify-content: center;
}
.main_article3 {
  position: relative;
  width: 85%;
  color:  rgba(53,49,242,1);
  font-family: Roboto;
  font-size: 14px;
  opacity: 1;  
}
.main_footer{
  width: 100%;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 1551px;
  left: 0px;
  overflow: hidden;

}
.footer_info {
  width: 568px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 1604px;
  left: 436px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;  
}
.control_1,.control_3 {
display: flex;
  float: right;
  justify-content: right;
  
}
.control_2{
  display: flex;
  float: left;
  
}
/* -------- UP--MAIN INDEX.CSS FILE -----------*/