* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.main_mother_container {
  width: 100%;
  height: 1672px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.main_nav_container1{
background-color: white;
height: 175px;
width: 100%;
}
.logo_box {
  width: 109px;
  height: 112px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 129px;
  border-radius: 50%;
}
.logo_title_derion {
  width: 168px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 64px;
  left: 220px;
  font-family: Rubik One;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.logo_derion {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 105px;
  font-family: Rockwell;
  font-weight: Bold;
  font-size: 123px;
  opacity: 1;
  text-align: center;
}
.nav_home {
  width: 58px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 880px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.nav_signin{
  width: 81px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 85px;
  left: 958px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;

  cursor: pointer;

}
.nav_signup {
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 95px;
  left: 1040px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.nav_aboutUs {
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 945px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.nav_siteMap {
  width: 98px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 1052px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.nav_contactUs {
  width: 133px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 1150px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.nav_logOut{
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 99px;
  left: 1049px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;

}
.main_container2 {
  display: block;
  width: 100%;
  height: 257px;
  background: url("../images/v21_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /*position: absolute;*/
  top: 175px;
  left: 1px;
  overflow: hidden;
}

.main_container3{
  display: block;
  width: 100%;
  height: 304px;
  background: rgba(53,49,242,1);
  opacity: 1;
  /*position: absolute;*/
  top: 432px;
  left: 0px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  
}

.main_container4 {
  display: block;
  width: 100%;
  height: 257px;
  background: rgba(217,217,217,1);
  opacity: 1;
  /*position: absolute;*/
  top: 736px;
  left: 0px;
  overflow: hidden;
}

.main_article1 {
  width: 984px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 512px;
  left: 220px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.main_article_title1 {
  display: block;
  width: 100%;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  margin-top: 20px;
  
}
.main_click_box1 {

  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 604px;
  overflow: hidden;
}
.main_click_here1 {
  width: 182px;
  color: rgba(39,22,241,1);
  background: rgba(217,217,217,1);
  position: absolute;
  top: 673px;
  left: 633px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.main_container5 {
  display: block;
  width: 100%;
  height: 304px;
  background: rgba(53,49,242,1);
  opacity: 1;
  /*position: absolute;*/
  top: 991px;
  left: 0px;
  overflow: hidden;
}
.main_article2 {
  display: block;
  width: 984px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1071px;
  left: 220px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.main_article_title2 {
  display: block;
  width: 100%;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  margin-top: 20px;  
}
.main_click_box2 {
  background: rgba(39,22,241,1);
  opacity: 1;
  position: absolute;
  top: 1216px;
  left: 604px;
  overflow: hidden;
}
.main_click_here2 {
  width: 182px;
  color: rgba(39,22,241,1);
  background: rgba(217,217,217,1);
  position: absolute;
  top: 1233px;
  left: 629px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.agency_sss {
  display: flex;
  width: 295px;
  height: 194px;
  background: url("../images/v34_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 101px;
  overflow: hidden;
  justify-content: center;
}
.agency_gsis {
  display: flex;
  width: 295px;
  height: 194px;
  background: url("../images/v34_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 415px;
  overflow: hidden;
  justify-content: center;
}
.agency_phealth {
  display: flex;
  width: 295px;
  height: 194px;
  background: url("../images/v34_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 729px;
  overflow: hidden;
  justify-content: center;
}
.agency_pagibig {
  display: flex;
  width: 295px;
  height: 194px;
  background: url("../images/v34_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 1043px;
  overflow: hidden;
  justify-content: center;
 
}
.main_footer{
  width: 100%;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 1551px;
  left: 0px;
  overflow: hidden;
}

.main_container6 {
  display: block;
  width: 100%;
  height: 260px;
  background: url("../images/v35_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1291px;
  left: 0px;
  overflow: hidden;
}
.footer_info {
  width: 568px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 1604px;
  left: 436px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.sss_click  {
  display: block;
  margin: auto;
  color: white;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  background-color: rgba(39,22,241,1);
  cursor: pointer; 
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 120px;
  padding: 0px 15px;
  border: 1px solid white;

}

.gsis_click {
  display: block;
  margin: auto;
  color: white;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  background-color: rgba(39,22,241,1);
  cursor: pointer; 
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 120px;
  padding: 0px 15px;
  border: 1px solid white;
}

.phealth_click {
  display: block;
  margin: auto;
  color: white;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  background-color: rgba(39,22,241,1);
  cursor: pointer; 
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 120px;
  padding: 0px 15px;
  border: 1px solid white;
}

.pagibig_click {
  display: block;
  margin: auto;
  color: white;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  background-color: rgba(39,22,241,1);
  cursor: pointer; 
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 120px;
  padding: 0px 15px;
  border: 1px solid white;
}
/* -------- UP--MAIN INDEX.CSS FILE -----------*/
/* -------- FORM POP UP -----------*/

  .login {
  position: relative;
  height: 560px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  background: url(https://picsum.photos/id/1004/5616/3744) no-repeat   center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  background-color: #4784ee; 
}

.form {
  padding-top: 80px;
}


.active {
  border-bottom: 2px solid #1161ed;
}

.nonactive {
  color: rgba(255, 255, 255, 0.2);
}

h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}

h2:first-child {
  padding-left: 0px;
}

.span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4; 
  display: inline-block;
  position: relative;
  top: -65px;
  transition: all 0.5s ease-in-out;
}

.text {
  border: none;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: white;
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

input[type="text"],
input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}



input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}

h2,
span,
.custom-checkbox {
  margin-left: 20px;
}

.custom-checkbox {
 /*-webkit-appearance: none;*/
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 6px;
  left: 170px;
  
}

.custom-checkbox:checked {
  background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}

.custom-checkbox:focus {
  outline: none;
}

label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.signin {
  background-color: #1161ed;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.signin:focus {
  outline: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 85px;
  position: relative;
}


.a {
  text-align: center;
  display: flex;
  top: 120px;
  position: relative;
  text-decoration: none;
  color: white;
}

.password{
 margin-left: 90px;
}
/* [Object] Modal8/
 * =============================== */
 .modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: none;
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: none;
  border-radius: 5px;
  padding: 1em 2em;
  height: 100%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}


/* Other* =============================== */
body {
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
}
/*
.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

/*.btn:hover,
.btn:focus {
  background: #2ecc71;
}

/*.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}


/* -------------------REGISTRATION FORM------------------------*/








/* ---------------------------------------------------*/

