
  * {
  margin: 0
}

.container_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #e8eaec;
}

.container h1 {
  color: #24a3ec;
  font-family: sans-serif;
  margin: 20px;
}

.registartion-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: sans-serif;
  background-color: #24a3ec;
  padding: 60px;
}

.registartion-form input,
.registartion-form select,
.registartion-form textarea {
  border: none;
  padding: 5px;
  margin-top: 10px;
  font-family: sans-serif;
}

.registartion-form input:focus,
.registartion-form textarea:focus {
  box-shadow: 3px 3px 10px rgb(228, 228, 228), -3px -3px 10px rgb(224, 224, 224);
}

.registartion-form .submit {
  width: 100%;
  padding: 8px 0;
  font-size: 20px;
  color: rgb(44, 44, 44);
  background-color: #ffffff;
  border-radius: 5px;
}

.registartion-form .submit:hover {
  box-shadow: 3px 3px 6px rgb(255, 214, 176);
}

/*header.css*/

.container{
  width: 100%;
  height: 1672px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.container_1 {
  width: 109px;
  height: 112px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 129px;
  border-radius: 50%;
}
.logo_title{
  width: 168px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 64px;
  left: 247px;
  font-family: Rubik One;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.nav_home{
  width: 58px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 921px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.nav_logOut{
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 99px;
  left: 1049px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.nav_aboutUs{
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 995px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.nav_siteMap{
  width: 98px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 1102px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.nav_contactUs{
  width: 133px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 1200px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.logo{
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 127px;
  font-family: Rockwell;
  font-weight: Bold;
  font-size: 123px;
  opacity: 1;
  text-align: center;
}
.container3{
  width: 100%;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1551px;
  left: 0px;
  overflow: hidden;
}
.footer1{
  width: 568px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 1604px;
  left: 436px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
