* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.main_mother_container {
  display: block;
  width: 100%;
  height: 1672px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
} 
.main_nav_container1{
background-color: white;
height: 175px;
width: 100%;

}
.logo_box {
  width: 109px;
  height: 112px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 129px;
  border-radius: 50%;
}
.logo_title_derion {
  width: 168px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 62px;
  left: 240px;
  font-family: Rubik One;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.logo_derion {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 130px;
  font-family: Rockwell;
  font-weight: Bold;
  font-size: 123px;
  opacity: 1;
  text-align: center;
}
.nav_home {
  width: 58px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 780px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.nav_signin{
  width: 81px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 95px;
  left: 858px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  cursor: pointer;

}
.nav_signup {
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 95px;
  left: 940px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.nav_aboutUs {
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 845px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.nav_siteMap {
  width: 98px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 952px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.nav_contactUs {
  width: 133px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 1050px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.nav_logOut{
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 99px;
  left: 900px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;

}
.main_container2 {
  float: left;
  margin-top: 50px;
  width: 50%;
  height: 300px;
  background: url("../images/ourstory.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
 
}

.main_container3{
  float: right;
  margin-top: 50px;
  width: 50%;
  height: 300px;
  background: white;
  opacity: 1;
  
 
 
}

.main_article1 {
  top: 80px;
  position: relative;
  width: 50%;
  color:  rgba(53,49,242,1);;
  font-family: Roboto;
  font-size: 16px;
  opacity: 1;
  
} 


.main_container4 {
  float: left;
  margin-top: 50px;
  width: 50%;
  height: 300px;
  background:white;
  opacity: 2;
  overflow: hidden;
  text-align: center;
}


.main_container5 {
  float: right;
  margin-top: 50px;
  width: 50%;
  height: 300px;
  background: url("../images/mission.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  justify-self: left;

 
}
.main_article2 {
  top: 80px;
  position: relative;
  color: rgba(53,49,242,1);;
  font-family: Roboto;
  font-size: 16px;
  opacity: 1;  
}
.main_container6 {
  float: left;
  margin-top: 50px;
  width: 50%;
  height: 300px;
  background: url("../images/vision.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  justify-content: center;
}

.main_container7{
  float: right;
  margin-top: 50px;
  width: 50%;
  height: 300px;
  background: white;
  opacity: 1;
  overflow: hidden;
  text-align: center;
 
}

.main_article3 {
  top: 80px;
  position: relative;
  width: 85%;
  color:  rgba(53,49,242,1);
  font-family: Roboto;
  font-size: 16px;
  opacity: 1;  
}
.main_footer{
  width: 100%;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 1551px;
  left: 0px;
  overflow: hidden;

}
.footer_info {
  width: 568px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 1604px;
  left: 436px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;  
}


/* -------- UP--MAIN INDEX.CSS FILE -----------*/

.mb-60 {
  margin-bottom: 60px;
}
.services-inner {
  border: 2px solid #48c7ec;
  margin-left: 35px;
  transition: .3s;
}
.our-services-img {
  float: left;
  margin-left: -36px;
  margin-right: 22px;
  margin-top: 28px;
}
.our-services-text {
  padding-right: 10px;
}
.our-services-text {
  overflow: hidden;
  padding: 28px 0 25px;
}
.our-services-text h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}
.our-services-text h4::before {
  background: #ec6d48 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  width: 35px;
}
.our-services-wrapper:hover .services-inner {
  background: #fff none repeat scroll 0 0;
  border: 2px solid transparent;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
  margin-bottom: 0;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #666;
  margin-bottom: 15px;
}
.title_services{
  margin-bottom: 5%;
  margin-top: 2%;
  text-align: center;
  
}