* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.main_mother_container {
  width: 100%;
  height: 1672px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.main_nav_container1{
background-color: white;
height: 175px;
width: 100%;
}
.logo_box {
  width: 109px;
  height: 112px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 129px;
  border-radius: 50%;
}
.logo_title_derion {
width: 168px;
color: rgba(34,63,217,1);
position: absolute;
top: 64px;
left: 240px;
font-family: Rubik One;
font-weight: Regular;
font-size: 40px;
opacity: 1;
text-align: center;
}
.logo_derion {
width: 123px;
color: rgba(255,255,255,1);
position: absolute;
top: 13px;
left: 130px;
font-family: Rockwell;
font-weight: Bold;
font-size: 123px;
opacity: 1;
text-align: center;
}
.nav_home {
  width: 58px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 780px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.nav_signin{
  width: 81px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 95px;
  left: 858px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  cursor: pointer;

}
.nav_signup {
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 95px;
  left: 940px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.nav_aboutUs {
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 845px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.nav_siteMap {
  width: 98px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 952px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.nav_contactUs {
  width: 133px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 66px;
  left: 1050px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.nav_logOut{
  width: 107px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 99px;
  left: 900px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;

}
.main_container2 {
  display: block;
  width: 100%;
  height: 257px;
  background: url("../images/v21_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /*position: absolute;*/
  overflow: hidden;
  justify-content: center;
}

.main_container3{
  display: inline flex;
  width: 100%;
  height: 304px;
  background: rgba(53,49,242,1);
  opacity: 1;
 
  text-align: center;
 
  
}
.main_article_title1 {
  position: relative;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Bolder;
  font-size: 30px;
  opacity: 1;
  top: 30px;
  justify-content: center;

}
.main_article1 {
  position: relative;
  width: 85%;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-size: 16px;
  opacity: 1;
  justify-content: center;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.main_click_box1 {
  display: flex;
  background: rgba(217,217,217,1);
  opacity: 1;
  margin-top: 90px;
  
}
.main_click_here1 { 

  width: 160px;
  color: rgba(39,22,241,1);
  background: rgba(217,217,217,1);
  font-family: Roboto;
  font-size: 20px;
  opacity: 1;
  margin: auto;
  text-align: center;
  text-decoration: none;
  top: auto;
}

.main_container4 {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 257px;
  background: rgba(217,217,217,1);
  opacity: 1;
  overflow: hidden;
  justify-content: space-around;  
}
.agency_sss {
  display: block;
  width: 295px;
  height: 194px;
  background: url("../images/v34_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  margin: auto;
}
.agency_gsis {
  display: block;
  width: 295px;
  height: 194px;
  background: url("../images/v34_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  justify-content: center;
  margin: auto;
}
.agency_phealth {
  display: block;
  width: 295px;
  height: 194px;
  background: url("../images/v34_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  justify-content: center;
  margin: auto;
}
.agency_pagibig {
  display: block;
  width: 295px;
  height: 194px;
  background: url("../images/v34_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  justify-content: center;
  margin: auto;
 
}
.main_container5 {
  display: inline flex;
  width: 100%;
  height: 304px;
  background: rgba(53,49,242,1);
  opacity: 1;
  overflow: hidden;
  text-align: center;
 
}

.main_article_title2 {
  position: relative;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Bolder;
  font-size: 30px;
  opacity: 1;
  top: 30px;
  justify-content: center;
}
.main_article2 {
  position: relative;
  width: 85%;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-size: 16px;
  opacity: 1;
  justify-content: center;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main_click_box2 {
  
  display: flex;
  background: rgba(217,217,217,1);
  opacity: 1;
  margin-top: 90px;
  
}
.main_click_here2 {
  width: 160px;
  color: rgba(39,22,241,1);
  background: rgba(217,217,217,1);
  font-family: Roboto;
  font-size: 20px;
  opacity: 1;
  margin: auto;
  text-align: center;
  text-decoration: none;
  top: auto;
}

.main_footer{

  width: 100%;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 1551px;
  left: 0px;
  overflow: hidden;

}
.footer_info {
  width: 568px;
  color: rgba(34,63,217,1);
  position: absolute;
  top: 1604px;
  left: 436px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  
}
.main_container6 {
  display: block;
  width: 100%;
  height: 260px;
  background: url("../images/v35_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1291px;
  left: 0px;
  overflow: hidden;
}


.sss_click  {
  display: block;
  margin: auto;
  color: white;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  background-color: rgba(39,22,241,1);
  cursor: pointer; 
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 120px;
  padding: 0px 15px;
  border: 1px solid white;

}

.gsis_click {
  display: block;
  margin: auto;
  color: white;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  background-color: rgba(39,22,241,1);
  cursor: pointer; 
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 120px;
  padding: 0px 15px;
  border: 1px solid white;
}

.phealth_click {
  display: block;
  margin: auto;
  color: white;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  background-color: rgba(39,22,241,1);
  cursor: pointer; 
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 120px;
  padding: 0px 15px;
  border: 1px solid white;
}

.pagibig_click {
  display: block;
  margin: auto;
  color: white;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  background-color: rgba(39,22,241,1);
  cursor: pointer; 
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 120px;
  padding: 0px 15px;
  border: 1px solid white;
}
/* -------- UP--MAIN INDEX.CSS FILE -----------*/



.mother_container_agency {
  width: 100%;
  height: 1672px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.container1_agency {
  display: flex;
  width: 100%;
  height: 226px;
  background: rgba(34,63,217,1);
  opacity: 1;
  
  top: 178px;
  left: 0px;
  overflow: hidden;
}
.container2_agency {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  /*position: absolute;*/ 
  top: 390px;
  left: 0px;
  overflow: hidden;
}
.account_holder {
 
  width: 335px;
  color: rgba(255,255,255,1);
  position: absolute;  
  top: 194px;
  left: 290px;
  font-family: Inter;
  font-weight: bolder;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.bp_numbox{
  display: block;
  width: 200px;
  height: 26px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute; 
  top: 266px;
  left: 510px;
  overflow: hidden;
}

.output_agency {
  display: block;
  width: 800px;
  height: 485px;
  background: rgb(165, 159, 159);
  opacity: 1;
  position: absolute;
  top: 485px;
  left: 415px;
  overflow: hidden;
}

.crn_numbox {
  display: block;
  width: 200px;
  height: 26px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute; 
  top: 304px;
  left: 510px;
  overflow: hidden;
}
.birthdate_numbox {
  display: block;
  width: 200px;
  height: 26px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute; 
  top: 342px;
  left: 510px;
  overflow: hidden;
}
.agency_namebox {
  display: block;
  width: 350px;
  height: 26px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute; 
  top: 347px;
  left: 920px;
  overflow: hidden;
}
.contact_numbox {
  
  width: 350px;
  height: 26px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute; 
  top: 271px;
  left: 920px;
  overflow: hidden;
}
.email_addbox {
  display: block;
  width: 350px;
  height: 26px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute; 
  top: 309px;
  left: 920px;
  overflow: hidden;
}
.agency_logo_box {
  display:flex;
  width: 238px;
  height: 209px;
  background: url("../images/v34_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute; 
  top: 187px;
  left: 31px;
  overflow: hidden;
}
.bp_number {
  display: block;
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute; 
  top: 265px;
  left: 320px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.crn_number {
  display: block;
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute; 
  top: 305px;
  left: 320px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.birth_date {
  display: block;
  width: 182px;
  color: rgba(255,255,255,1);
  position: absolute; 
  top: 341px;
  left: 320px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.contact_number {
  display: block;
  width: 175px;
  color: rgba(255,255,255,1);
  position: absolute; 
  top: 270px;
  left: 755px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.email_add {
  display: block;
  width: 175px;
  color: rgba(255,255,255,1);
  position: absolute; 
  top: 310px;
  left: 755px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.agency_name {
  display: block;
  width: 175px;
  color: rgba(255,255,255,1);
  position: absolute; 
  top: 346px;
  left: 755px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.account_menu {
  display: flex;
  width: 100%;
  color: rgba(255,255,255,1);
  background: #27ae60;
  top: 498px;
  left: 185px;
  font-family: Inter;
  font-weight: bolder;
  font-size: 22px;
  opacity: 1;
  text-align: center;
  margin: auto;
  justify-content: center;
  padding-top: 3%;
  width: 95%;
  height: 80%;
  
}
.account_home {
  display: flex;
  color: rgba(255,255,255,1);
  top: 566px;
  left: 189px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  background: rgba(34,63,217,1);
  margin: auto;
  justify-content: center;
  padding-top: 3%;
  width: 95%;
  height: 80%;
  cursor: pointer;
}
.member_profile {
  display: flex;
  color: rgba(255,255,255,1);
  top: 623px;
  left: 165px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  background: rgba(34,63,217,1);
  margin: auto;
  justify-content: center;
  padding-top: 3%;
  width: 95%;
  height: 80%;
  cursor: pointer;
}
.loan_record {
  display: flex;
  color: rgba(255,255,255,1);
  top: 688px;
  left: 174px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  background: rgba(34,63,217,1);
  margin: auto;
  justify-content: center;
  padding-top: 3%;
  width: 95%;
  height: 80%;
  cursor: pointer;
}
.claim_record {
  display: flex;
  color: rgba(255,255,255,1);
  top: 743px;
  left: 171px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  background: rgba(34,63,217,1);
  margin: auto;
  justify-content: center;
  padding-top: 3%;
  width: 95%;
  height: 80%;
  cursor: pointer;
}
.pension_record {
  display: flex;
  color: rgba(255,255,255,1);
  top: 804px;
  left: 152px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  background: rgba(34,63,217,1);
  margin: auto;
  justify-content: center;
  padding-top: 3%;
  width: 95%;
  height: 80%;
  cursor: pointer;
}
.tentative_claim {
  display: flex;
  color: rgba(255,255,255,1);
  top: 867px;
  left: 152px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  background: rgba(34,63,217,1);
  margin: auto;
  padding-top: 3%;
  width: 95%;
  height: 80%;
  cursor: pointer;
}
.loan_tentative {
  display: flex;
  color: rgba(255,255,255,1);
  top: 929px;
  left: 152px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  background: rgba(34,63,217,1);
  justify-content: center;
  margin: auto;
  padding-top: 3%;
  width: 95%;
  height: 80%;
  cursor: pointer;
}
.account_menubox {
  display: flex;
  width: 295px;
  height: 56px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 485px;
  left: 100px;
  overflow: hidden;
}
.account_homebox {
  display: flex;
  width: 295px;
  height: 56px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 546px;
  left: 100px;
  overflow: hidden;
  justify-content: center;
  
}
.claim_recordbox {
  display: flex;
  width: 295px;
  height: 56px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 730px;
  left: 100px;
  overflow: hidden;
}
.pension_recordbox {
  display: flex;
  width: 295px;
  height: 56px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 791px;
  left: 100px;
  overflow: hidden;
}
.tentative_claimbox {
  display: flex;
  width: 295px;
  height: 56px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 853px;
  left: 100px;
  overflow: hidden;
  justify-content: center;
}

.member_profilebox {
  display: flex;
  width: 295px;
  height: 56px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 607px;
  left: 100px;
  overflow: hidden;
  justify-content: center;
}
.loan_recordbox {
  display: flex;
  width: 295px;
  height: 56px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 669px;
  left: 100px;
  overflow: hidden;
}
.loan_tentativebox{
  display: flex;
  width: 295px;
  height: 56px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 914px;
  left: 100px;
  overflow: hidden;
  justify-content: center;
  
}

.save_filebox {
  display: flex;
  width: 170px;
  height: 52px;
  background: rgba(34,63,217,1);
  opacity: 1;
  position: absolute; 
  top: 982px;
  left:1050px;
  border: none;
  overflow: hidden;
  justify-content: center;
  padding: auto;
}
.save_file {
  display: block;
  width: 90%;
  height: 80%;
  color: rgba(255,255,255,1); 
  top: 997px;
  left: 1189px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  background: rgba(34,63,217,1);
  margin: auto;
  text-align: center;
  cursor: pointer;
}

/*---------------POP UP FORM----------------------*/
.modal {
 
  opacity: 0;
  visibility: hidden;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: none;
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition:  center .25s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  overflow: auto;
  background: none;
  /*background: rgb(165, 159, 159);*/
  border-radius: 5px;
  padding: 1em 2em;
  height: 485PX;
  margin-top: 485px;
  margin-left: 415px;
}


.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}


/* Other
 * =============================== */


.btn {
  cursor: pointer;
  /*background: #27ae60;*/
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

th, tr{
  border: 1px solid black;
  padding: 10px;
}
/*-----------------------------------*/